<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Offline</title>

    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/public/images/logos/favicon.ico">

</head>

<body class="text-center container" style="background-color: #019249; color: #ffffff;">

    <br><br><br>
    <p><img src="/public/images/other/wifi.png" alt="VillageSavers" height="80px" width="80px"></p>
    <h1>Oops!</h1>
    <br>
    <p>
        Looks like you're offline.<br>
        Check internet connection & try reloading the app.
    </p>
    <br>
    <a href="/" class="btn" style="border: 1px solid #ffffff; color: #ffffff;">Reload</a>

</body>

<footer>
    <script src="/public/js/app.js"></script>
</footer>

</html>